{% extends 'base.html' %}

{% block title %}Review detail{% endblock %}

{% block content %}
    <div class="card">
      <div class="card-header justify-content-center">
        <h5 class="card-title">{{ review.title }}</h5>
      </div>
      <div class="card-body">
        <p class="card-text">{{ review.content }}</p>
        <hr>
        <p class="card-text">평점 : {{ review.rank }}</p>
        <p class="card-text">작성 시간: {{ review.created_at }}</p>
        <p class="card-text">수정 시간: {{ review.updated_at }}</p>
        <hr>
        <a href="/community" class="btn btn-primary">뒤로가기</a>
      </div>
    </div>
{% endblock %}