{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block item1 %}active{% endblock %}

{% block content %}
    <table class="table text-center">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">제목</th>
          <th scope="col">내용</th>
          <th scope="col">평점</th>
        </tr>
      </thead>
      <tbody>
        {% for review in reviews %}
        <tr>
          <th scope="row">{{ forloop.counter}}</th>
          <td><a href="/community/{{ review.id }}/">{{ review.title }}</a></td>
          <td>{{ review.content }}</td>
          <td>{{ review.rank }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}