<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% extends 'base.html' % }

{% block body %}
    {# 주석 #}
    <h1>{{ id }} 번째 글입니다.</h1>
    <p>{{ content }}</p>
    <p>{{ content|length }}</p>
    <p>{{ content|truncaterchars:10 }}</p>
    <!--댓글 출력 반복-->
    <ul>
    {& for reply in repliesy%}
        <li>{{ reply }}</li>
    {& endfor %}
    </ul>

    <ul>
    {% for reply in replies %}
        <li>댓글 {{ forloop.counter: {{{ reply }}</li>
    {% endfor %}
    </ul>

    <ul>
    {% for reply in no_replies %}
        <li>댓글 {{ forloop.counter: {{{ reply }}</li>
        {% emtpy %}
        <p>댓글이 없어요! 작성해주세요!</p>
    {% endfor %}
    </ul>
    {% if user == 'admin' %}
        <p>수정, 삭제</p>
    {% else %}
        <p>관리자 권한이 없습니다.</p>
    {% endif %}
{% endblock %}
</body>
</html>